<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.efarrisdevelopment.usa.sleeptimer">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneOffJava">

        <activity
            android:name="com.gmail.efarrisdevelopment.usa.sleeptimer.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.gmail.efarrisdevelopment.usa.sleeptimer.SleepReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/admin_perms"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name = "com.google.android.gms.ads.APPLICATION_ID"
                    android:value="ca-app-pub-2079972927890696~7187896395"/>
    </application>


</manifest>